@model AppData.Models.Employee
@{
	ViewData["Title"] = "Forgot Password";
}
<link rel="stylesheet" href="~/css/dangky.css">
<div class="container">
	<section class="vh-100 bg-image">
		<div class="mask d-flex align-items-center h-100 gradient-custom-3">
			<div class="container h-100">
				<div class="row d-flex justify-content-center align-items-center h-100">
					<div class="col-12 col-md-9 col-lg-7 col-xl-6">
						<div class="">
							<div class="card-body p-5">
								<img src="~/image/Logo_NIKE.svg.png" alt="" style="width: 55px; height: 20px; margin-left: 210px;">
								<h2 class="text-uppercase text-center mb-5" style="padding-top: 25px; font-weight: bold;">
									RESET
									PASSWORD
								</h2>
								<p style="text-align: center; font-size: 12px; padding-bottom: 25px;">
									Enter your email to receive
									instructions on how to <br> reset your password.
								</p>
								<form asp-action="ForgotPassword" method="post" id="register-form">
									<!-- Email input -->
									<div class="form-floating mb-3">
										<input asp-for="Email" type="email" class="form-control" name="Email" placeholder="name@example.com">
										<label for="floatingInputEmail">Email address</label>
									</div>
									<div class="d-flex justify-content-center" style="padding-top: 20px;">
										<button type="submit"
												style="color: white; background-color: rgb(3, 3, 3); width: 520px; height: 40px;"
												class="btn btn-success btn-block btn-lg gradient-custom-4 text-body">
											<p style="color: white; font-size: 15px;">RESET</p>
										</button>
									</div>
									<p class="text-center text-muted mt-5 mb-0" style="font-size: 13px;">
										Or return to <a asp-controller="User" asp-action="Login" class="text-body"><u style="font-size: 13px;">Log In</u></a>
									</p>
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
</div>