@model AppData.Models.Customer

@{
    ViewData["Title"] = "Change Password";
}
<style>
    .radio-inputs {
        display: flex;
        justify-content: center;
        align-items: center;
        max-width: 350px;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        margin-left: 12%;
    }

        .radio-inputs > * {
            margin: 6px;
        }

    .radio-input:checked + .radio-tile {
        border-color: black;
        box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
        color: black;
    }

        .radio-input:checked + .radio-tile:before {
            transform: scale(1);
            opacity: 1;
            background-color: black;
            border-color: black;
        }

        .radio-input:checked + .radio-tile .radio-icon svg {
            fill: black;
        }

        .radio-input:checked + .radio-tile .radio-label {
            color: black;
        }

    .radio-input:focus + .radio-tile {
        border-color: black;
        box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1), 0 0 0 4px #b5c9fc;
    }

        .radio-input:focus + .radio-tile:before {
            transform: scale(1);
            opacity: 1;
        }

    .radio-tile {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 80px;
        min-height: 80px;
        border-radius: 0.5rem;
        border: 2px solid #b5bfd9;
        background-color: #fff;
        box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
        transition: 0.15s ease;
        cursor: pointer;
        position: relative;
    }

        .radio-tile:before {
            content: "";
            position: absolute;
            display: block;
            width: 0.75rem;
            height: 0.75rem;
            border: 2px solid #b5bfd9;
            background-color: #fff;
            border-radius: 50%;
            top: 0.25rem;
            left: 0.25rem;
            opacity: 0;
            transform: scale(0);
            transition: 0.25s ease;
        }

        .radio-tile:hover {
            border-color: black;
        }

            .radio-tile:hover:before {
                transform: scale(1);
                opacity: 1;
            }

    .radio-icon svg {
        width: 2rem;
        height: 2rem;
        fill: #494949;
    }

    .radio-label {
        color: #707070;
        transition: 0.375s ease;
        text-align: center;
        font-size: 13px;
    }

    .radio-input {
        clip: rect(0 0 0 0);
        -webkit-clip-path: inset(100%);
        clip-path: inset(100%);
        height: 1px;
        overflow: hidden;
        position: absolute;
        white-space: nowrap;
        width: 1px;
    }
</style>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<div class="container">
    <section class="vh-100 bg-image">
        <div class="mask d-flex align-items-center h-100 gradient-custom-3">
            <div class="container h-100">
                <div class="row d-flex justify-content-center align-items-center h-100">
                    <div class="col-12 col-md-9 col-lg-7 col-xl-6">
                        <div class="">
                            <div class="card-body p-5">
                                <img src="/image/Logo_NIKE.svg.png" alt="" style="width: 55px; height: 20px; margin-left: 210px;">
                                <h2 class="text-uppercase text-center mb-5" style="padding-top: 25px; font-weight: bold;">
                                    CHANGE YOUR PASSWORD
                                </h2>
                                <form asp-action="ChangePassword" style="margin-top:10px;" id="register-form">
                                    <!-- Email input -->
                                    <div class="form-floating mb-3">
                                        <input asp-for="Password" id="password" type="password" class="form-control" placeholder="Password" required>
                                        <label for="floatingInputEmail">Enter your password</label>
                                    </div>

                                    <div class="form-floating mb-3">
                                        <input id="newPass" type="password" class="form-control" name="newpass" placeholder="New password" required>
                                        <label for="floatingInputEmail">New password</label>
                                    </div>

                                    <div class="form-floating mb-3">
                                        <input id="enewPass" type="password" class="form-control" name="enewpass" placeholder="Enter new password" required>
                                        <label for="floatingInputEmail">Enter new password</label>
                                    </div>

                                    <!-- 2 column grid layout for inline styling -->
                                    <div class="form-check d-flex justify-content mb-5">
                                        <input style="padding-left: 5px;" class="form-check-input me-2" type="checkbox" value=""
                                               id="form2Example3cg" checked />
                                        <label class="form-check-label" for="form2Example3g">
                                            Keep me signed in <a asp-controller="Customer" asp-action="ForgotPassword" class="text-body" style="text-decoration: none;">
                                                <u style="padding-left: 120px; text-decoration: none;">
                                                    Forgotten your
                                                    password?
                                                </u>
                                            </a>
                                        </label>
                                    </div>
                                    <div class="text1" style="font-size: 12px; text-align: center; padding-bottom: 20px;">
                                        <p class="text-center text-muted mt-5 mb-0">
                                            By logging in, you agree to Nike's Privacy Policy and
                                            <br> Terms of Use.
                                        </p>
                                    </div>
                                    <div class="d-flex justify-content-center">
                                        <button type="submit"
                                                style="color: white; background-color: rgb(3, 3, 3); width: 520px; height: 40px;"
                                                class="btn btn-success btn-block btn-lg gradient-custom-4 text-body">
                                            <p style="color: white; font-size: 15px;">SAVE CHANGE</p>
                                        </button>
                                    </div>
                                    <p class="text-center text-muted mt-5 mb-0">Not a Member? <a asp-controller="Customer" asp-action="SignUp1" class="text-body"><u>Join Us</u></a></p>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

<script>
    $(document).ready(function () {
        $(".btn-success").click(function (e) {
            var newPass = $("#newPass").val();
            var enewPass = $("#enewPass").val();
            if (newPass != enewPass) {
                new Noty({
					type: 'warning',
					text: 'Vui lòng điền đúng mật khẩu mới!',
					timeout: 1000,
					progressBar: true,
					closeWith: ['click', 'button'],
				}).show();
				e.preventDefault();
                return;
            }
        });
    });
</script>

