@model AppData.Models.Bill

@{
    ViewData["Title"] = "CreateBill";
}

<link rel="stylesheet" href="~/css/FormInput.css">
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<div class="container">
    <section class="vh-100 bg-image">
        <div class="mask d-flex align-items-center h-100 gradient-custom-3">
            <div class="container h-100">
                <div class="row d-flex justify-content-center align-items-center h-100">
                    <div class="col-12 col-md-9 col-lg-7 col-xl-6">
                        <div class="">
                            <div class="card-body p-5">
                                <img src="/image/Logo_NIKE.svg.png" alt="" style="width: 55px; height: 20px; margin-left: 250px;">
                                <h2 class="text-uppercase text-center mb-5" style="padding-top: 25px; font-weight: bold;">
                                    BECOME A
                                    NIKE MEMBER
                                </h2>
                                <p style="text-align: center; font-size: 14px;">
                                    Create your Nike Member profile and
                                    get first <br> access to the very best of Nike products, inspiration <br> and
                                    community.
                                </p>
                                <form asp-action="CreateBill" style="margin-top:10px;" id="register-form">
                                     <div class="form-floating mb-3">
                                        <input asp-for="CreateDate" type="datetime-local" class="form-control" placeholder="CreateDate" required>
                                        <label for="floatingInputUsername">CreateDate</label>
                                    </div> 
                                   <div class="form-floating mb-3">
                                        <input asp-for="SuccessDate" type="datetime-local" class="form-control" placeholder="SuccessDate" required>
                                        <label for="floatingInputUsername">SuccessDate</label>
                                    </div> 

                                    <div class="form-floating mb-3">
                                        <input asp-for="CancelDate" type="datetime-local" class="form-control" placeholder="CancelDate" required>
                                        <label for="floatingInputUsername">CancelDate</label>
                                    </div> 

                                    <div class="form-floating mb-3">
                                        <input asp-for="DeliveryDate" type="datetime-local" class="form-control" placeholder="DeliveryDate" required>
                                        <label for="floatingInputUsername">DeliveryDate</label>
                                    </div> 

                                    <div class="form-floating mb-3">
                                        <input asp-for="TotalPrice" type="text" class="form-control" placeholder="TotalPrice" required>
                                        <label for="floatingInputUsername">TotalPrice</label>
                                    </div>

                                    <div class="form-floating mb-3">
                                        <input asp-for="ShippingCosts" type="text" class="form-control" placeholder="ShippingCosts" required>
                                        <label for="floatingInputUsername">ShippingCosts</label>
                                    </div>

                                    <div class="form-floating mb-3">
                                        <input asp-for="Note" type="text" class="form-control" placeholder="Note" required>
                                        <label for="floatingInputUsername">Note</label>
                                    </div>
                                   
                                    <div class="form-floating mb-3">
                                        <select asp-for="CustomerID" class="form-control" asp-items="@ViewBag.CusList"></select>
                                        <label for="floatingInputEmail">CustumorName</label>
                                        <span asp-validation-for="CustomerID" class="text-danger"></span>
                                    </div>

                                    <div class="form-floating mb-3">
                                        <select asp-for="EmployeeID" class="form-control" asp-items="@ViewBag.EmList"></select>
                                        <label for="floatingInputEmail">EmployeeName</label>
                                        <span asp-validation-for="EmployeeID" class="text-danger"></span>
                                    </div>

                                    <div class="form-floating mb-3">
                                        <select asp-for="VoucherID" class="form-control" asp-items="@ViewBag.VCList"></select>
                                        <label for="floatingInputEmail">VoucherCode</label>
                                        <span asp-validation-for="VoucherID" class="text-danger"></span>
                                    </div>

                                    <div class="form-floating mb-3">
                                        <select asp-for="PurchaseMethodID" class="form-control" asp-items="@ViewBag.PuList"></select>
                                        <label for="floatingInputEmail">PurchaseMethod Name</label>
                                        <span asp-validation-for="PurchaseMethodID" class="text-danger"></span>
                                    </div>

                                    <div class="form-floating mb-3">
                                        <input asp-for="Status" type="number" class="form-control" placeholder="Trạng thái" required>
                                        <label for="floatingInputUsername">Trạng thái (0 - hoạt động, 1 - ngưng hoạt động)</label>
                                    </div>
                                    <div class="d-flex justify-content-center" style="padding-top:5px;">
                                        <button type="submit" value="Create"
                                                style="color: white; background-color: rgb(3, 3, 3); width: 520px; height: 40px;"
                                                class="btn btn-success btn-block btn-lg gradient-custom-4 text-body">
                                            <p style="color: white; font-size: 15px; text-decoration: none;">Create</p>
                                        </button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
