@*@model List<CartItemViewModel>*@
@model ShoppingCartViewModel
@{
	ViewData["Title"] = "Chi tiết đơn hàng";
}
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Your Page Title</title>
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@10/dist/sweetalert2.min.css">
</head>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<link rel="stylesheet" href="~/css/detailsBill.css">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/pixeden-stroke-7-icon@1.2.3/pe-icon-7-stroke/dist/pe-icon-7-stroke.min.css">
<div class="container-fluid padding-bottom-3x mb-1" style="margin-top: 3%;">
	<div class="card mb-3">
		<div class="p-4 text-center text-white text-lg bg-dark rounded-top"><span class="text-uppercase">MÃ	HÓA ĐƠN:  </span><span class="text-medium">HĐ001</span></div>
		<div class="d-flex flex-wrap flex-sm-nowrap justify-content-between py-3 px-2 bg-secondary">
			<div class="w-100 text-center py-1 px-2" style="display:none;"><span class="text-medium">Shipped Via:</span> UPS Ground</div>
			<div class="w-100 text-center py-1 px-2" style="font-weight:bold;"><span class="text-medium">Trạng thái:</span> Chờ xác nhận</div>
			<div class="w-100 text-center py-1 px-2" style="font-weight:bold;"><span class="text-medium">Ngày nhận hàng dự kiến:</span> 30/11/2023</div>
		</div>
		<div class="card-body">
			<div class="steps d-flex flex-wrap flex-sm-nowrap justify-content-between padding-top-2x padding-bottom-1x">
				<div class="step completed">
					<div class="step-icon-wrap">
						<div class="step-icon"><i class="pe-7s-cart"></i></div>
					</div>
					<h4 class="step-title">Đơn hàng đã đặt</h4>
				</div>
				<div class="step completed">
					<div class="step-icon-wrap">
						<div class="step-icon"><i class="pe-7s-config"></i></div>
					</div>
					<h4 class="step-title">Đã xác nhận thông tin thanh toán</h4>
				</div>
				<div class="step completed">
					<div class="step-icon-wrap">
						<div class="step-icon"><i class="pe-7s-medal"></i></div>
					</div>
					<h4 class="step-title">Đã giao cho đơn vị vận chuyển</h4>
				</div>
				<div class="step completed">
					<div class="step-icon-wrap">
						<div class="step-icon"><i class="pe-7s-car"></i></div>
					</div>
					<h4 class="step-title">Đã nhận được hàng</h4>
				</div>
				<div class="step">
					<div class="step-icon-wrap">
						<div class="step-icon"><i class="pe-7s-home"></i></div>
					</div>
					<h4 class="step-title">Product Delivered</h4>
				</div>
			</div>
		</div>
	</div>
	<div class="d-flex flex-wrap flex-md-nowrap justify-content-center justify-content-sm-between align-items-center">
		<div class="text-left text-sm-right" style="display:none;"><a class="btn btn-outline-primary btn-rounded btn-sm" href="orderDetails" data-toggle="modal" data-target="#orderDetails">View Order Details</a></div>
	</div>
</div>
<div class="container col-md-12">
	<div class="card mb-7" style="border: 1px solid white;">
		<div class="card-header py-3">
			<h5 class="mb-0">Sản phẩm</h5>
		</div>
		<div class="card-body">
			<!-- Single item -->
			<div class="row">
				<div class="col-lg-3 col-md-8 mb-4 mb-lg-0">
					<!-- Image -->
					<div class="bg-image hover-overlay hover-zoom ripple rounded" data-mdb-ripple-color="light">
						<img src="~/image/anh62.png" class="w-100" alt="Blue Jeans Jacket"/>
						<a href="#!">
							<div class="mask" style="background-color: rgba(251, 251, 251, 0.2)"></div>
						</a>
					</div>
					<!-- Image -->
				</div>
				<div class="col-lg-5 col-md-6 mb-4 mb-lg-0">
					<!-- Data -->
					<p><strong>New Shoes</strong></p>
					<p>Good Shoes</p>
					<p>Size 34</p>
					<!-- Button to remove cart item -->
					<button type="button" class="btn btn-primary btn-sm me-1 mb-2" data-mdb-toggle="tooltip"
							title="Xóa sản phẩm">
						<i class="fas fa-trash"></i>
					</button>

				</div>
				<div class="col-lg-4 col-md-6 mb-4 mb-lg-0">
					<!-- Total Price -->
					<p class="text-start text-md-center">
						<span class="total-price ms-auto total-price-span">3.500.000đ</span>
					</p>
					<!-- Total Price -->
				</div>
				<hr class="my-4" />
			</div>
			<!-- Single item -->
		</div>
	</div>
	<div class="row" id="shipping-address-form-container">
		<div class="container col-md-12 mb-6">
			<div class="card mb-6">
				<div class="card-header py-3">
					<h5 class="mb-0">Địa chỉ nhận hàng</h5>
				</div>
				<div class="card-body existing-address" id="existingAddress">
					<p style="font-weight:bold; font-size:17px;">Vũ Tường Duy</p>
					<p style="font-weight:bold;">09999999999</p>
					<p style="font-weight:bold;">xã X, huyện Y, tỉnh X</p>
				</div>
			</div>
		</div>
	</div>
</div>