IF NOT EXISTS (SELECT name FROM sys.databases WHERE name = N'DATN_A')
BEGIN
    CREATE DATABASE [DATN_A];
END
GO

USE [DATN_A]
GO
/****** Object:  Table [dbo].[Address]    Script Date: 26/11/2025 15:11:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Address](
	[AddressID] [uniqueidentifier] NOT NULL,
	[Street] [nvarchar](200) NULL,
	[Commune] [nvarchar](200) NULL,
	[District] [nvarchar](200) NULL,
	[Province] [nvarchar](200) NULL,
	[IsDefaultAddress] [bit] NOT NULL,
	[ShippingCost] [decimal](18, 2) NOT NULL,
	[DistrictId] [int] NOT NULL,
	[WardCode] [int] NOT NULL,
	[ShippingMethodID] [int] NOT NULL,
	[Status] [int] NOT NULL,
	[DateCreated] [datetime] NOT NULL,
	[CumstomerID] [uniqueidentifier] NOT NULL,
	[ReceiverName] [nvarchar](100) NULL,
	[ReceiverPhone] [nvarchar](100) NULL,
 CONSTRAINT [PK_Address] PRIMARY KEY CLUSTERED 
(
	[AddressID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Bill]    Script Date: 26/11/2025 15:11:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Bill](
	[BillID] [uniqueidentifier] NOT NULL,
	[BillCode] [nvarchar](100) NULL,
	[CreateDate] [datetime] NOT NULL,
	[ConfirmationDate] [datetime] NOT NULL,
	[DeliveryDate] [datetime] NOT NULL,
	[SuccessDate] [datetime] NOT NULL,
	[CancelDate] [datetime] NOT NULL,
	[UpdateDate] [datetime] NOT NULL,
	[PaymentDay] [datetime] NOT NULL,
	[TotalPrice] [decimal](18, 2) NOT NULL,
	[ShippingCosts] [decimal](18, 2) NOT NULL,
	[TotalPriceAfterDiscount] [decimal](18, 2) NOT NULL,
	[Note] [nvarchar](500) NULL,
	[IsPaid] [bit] NOT NULL,
	[Status] [int] NOT NULL,
	[CustomerID] [uniqueidentifier] NOT NULL,
	[VoucherID] [uniqueidentifier] NULL,
	[ShippingVoucherID] [uniqueidentifier] NULL,
	[EmployeeID] [uniqueidentifier] NULL,
	[PurchaseMethodID] [uniqueidentifier] NOT NULL,
	[AddressID] [uniqueidentifier] NULL,
	[TransactionType] [int] NOT NULL,
	[TotalRefundAmount] [decimal](18, 2) NOT NULL,
 CONSTRAINT [PK_Bill] PRIMARY KEY CLUSTERED 
(
	[BillID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BillDetails]    Script Date: 26/11/2025 15:11:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BillDetails](
	[ID] [uniqueidentifier] NOT NULL,
	[Quantity] [int] NOT NULL,
	[Price] [decimal](18, 2) NOT NULL,
	[Status] [int] NOT NULL,
	[ShoesDetails_SizeID] [uniqueidentifier] NOT NULL,
	[BillID] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK_BillDetails] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BillStatusHistory]    Script Date: 26/11/2025 15:11:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BillStatusHistory](
	[BillStatusHistoryID] [uniqueidentifier] NOT NULL,
	[Status] [int] NOT NULL,
	[ChangeDate] [datetime] NOT NULL,
	[Note] [nvarchar](1000) NULL,
	[BillID] [uniqueidentifier] NOT NULL,
	[EmployeeID] [uniqueidentifier] NULL,
 CONSTRAINT [PK_BillStatusHistory] PRIMARY KEY CLUSTERED 
(
	[BillStatusHistoryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Cart]    Script Date: 26/11/2025 15:11:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cart](
	[CumstomerID] [uniqueidentifier] NOT NULL,
	[Description] [nvarchar](300) NULL,
 CONSTRAINT [PK_Cart] PRIMARY KEY CLUSTERED 
(
	[CumstomerID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CartDetails]    Script Date: 26/11/2025 15:11:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CartDetails](
	[CartDetailsId] [uniqueidentifier] NOT NULL,
	[CumstomerID] [uniqueidentifier] NOT NULL,
	[ShoesDetails_SizeID] [uniqueidentifier] NOT NULL,
	[Quantity] [int] NOT NULL,
 CONSTRAINT [PK_CartDetails] PRIMARY KEY CLUSTERED 
(
	[CartDetailsId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Color]    Script Date: 26/11/2025 15:11:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Color](
	[ColorID] [uniqueidentifier] NOT NULL,
	[ColorCode] [nvarchar](50) NULL,
	[Name] [nvarchar](100) NULL,
	[Status] [int] NOT NULL,
	[DateCreated] [datetime] NOT NULL,
 CONSTRAINT [PK_Color] PRIMARY KEY CLUSTERED 
(
	[ColorID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Customer]    Script Date: 26/11/2025 15:11:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Customer](
	[CumstomerID] [uniqueidentifier] NOT NULL,
	[FullName] [nvarchar](100) NULL,
	[UserName] [nvarchar](100) NULL,
	[Password] [nvarchar](100) NULL,
	[Email] [nvarchar](300) NULL,
	[Sex] [int] NOT NULL,
	[ResetPassword] [nvarchar](60) NULL,
	[PhoneNumber] [nvarchar](50) NULL,
	[Status] [int] NOT NULL,
	[DateCreated] [datetime] NOT NULL,
	[RankID] [uniqueidentifier] NULL,
	[ImageUser] [nvarchar](1000) NULL,
 CONSTRAINT [PK_Customer] PRIMARY KEY CLUSTERED 
(
	[CumstomerID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Employee]    Script Date: 26/11/2025 15:11:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Employee](
	[EmployeeID] [uniqueidentifier] NOT NULL,
	[Image] [nvarchar](1000) NULL,
	[IdentificationCode] [nvarchar](50) NULL,
	[FullName] [nvarchar](100) NULL,
	[UserName] [nvarchar](100) NULL,
	[Password] [nvarchar](100) NULL,
	[Email] [nvarchar](300) NULL,
	[Sex] [int] NOT NULL,
	[Address] [nvarchar](1000) NULL,
	[ResetPassword] [nvarchar](60) NULL,
	[PhoneNumber] [nvarchar](50) NULL,
	[Status] [int] NOT NULL,
	[DateCreated] [datetime] NOT NULL,
	[RoleID] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK_Employee] PRIMARY KEY CLUSTERED 
(
	[EmployeeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FavoriteShoes]    Script Date: 26/11/2025 15:11:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FavoriteShoes](
	[ShoesDetails_SizeId] [uniqueidentifier] NOT NULL,
	[CumstomerID] [uniqueidentifier] NOT NULL,
	[FavoriteShoesID] [uniqueidentifier] NOT NULL,
	[AddedDate] [datetime] NOT NULL,
	[Status] [int] NOT NULL,
 CONSTRAINT [PK_FavoriteShoes] PRIMARY KEY CLUSTERED 
(
	[FavoriteShoesID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HistoryChat]    Script Date: 26/11/2025 15:11:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HistoryChat](
	[HistoryChatID] [uniqueidentifier] NOT NULL,
	[Message] [nvarchar](1000) NULL,
	[CreatedAt] [datetime] NOT NULL,
	[CustomerID] [uniqueidentifier] NULL,
	[Response] [nvarchar](1500) NULL,
 CONSTRAINT [PK_HistoryChat] PRIMARY KEY CLUSTERED 
(
	[HistoryChatID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Image]    Script Date: 26/11/2025 15:11:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Image](
	[ImageID] [uniqueidentifier] NOT NULL,
	[ImageCode] [nvarchar](50) NULL,
	[Name] [nvarchar](100) NULL,
	[Image1] [nvarchar](1000) NULL,
	[Image2] [nvarchar](1000) NULL,
	[Image3] [nvarchar](1000) NULL,
	[Image4] [nvarchar](1000) NULL,
	[Status] [int] NOT NULL,
	[DateCreated] [datetime] NOT NULL,
	[ShoesDetailsID] [uniqueidentifier] NULL,
 CONSTRAINT [PK_Image] PRIMARY KEY CLUSTERED 
(
	[ImageID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Material]    Script Date: 26/11/2025 15:11:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Material](
	[MaterialId] [uniqueidentifier] NOT NULL,
	[MaterialCode] [nvarchar](50) NULL,
	[Name] [nvarchar](200) NULL,
	[Status] [int] NOT NULL,
	[DateCreated] [datetime] NOT NULL,
 CONSTRAINT [PK_Material] PRIMARY KEY CLUSTERED 
(
	[MaterialId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Product]    Script Date: 26/11/2025 15:11:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Product](
	[ProductID] [uniqueidentifier] NOT NULL,
	[ProductCode] [nvarchar](50) NULL,
	[Name] [nvarchar](200) NULL,
	[Status] [int] NOT NULL,
	[DateCreated] [datetime] NOT NULL,
	[SupplierID] [uniqueidentifier] NOT NULL,
	[MaterialId] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK_Product] PRIMARY KEY CLUSTERED 
(
	[ProductID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PurchaseMethod]    Script Date: 26/11/2025 15:11:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PurchaseMethod](
	[PurchaseMethodID] [uniqueidentifier] NOT NULL,
	[MethodName] [nvarchar](200) NULL,
	[Status] [int] NOT NULL,
	[DateCreated] [datetime] NOT NULL,
 CONSTRAINT [PK_PurchaseMethod] PRIMARY KEY CLUSTERED 
(
	[PurchaseMethodID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Rank]    Script Date: 26/11/2025 15:11:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Rank](
	[RankID] [uniqueidentifier] NOT NULL,
	[RankCode] [nvarchar](50) NULL,
	[Name] [nvarchar](100) NULL,
	[Desciption] [nvarchar](500) NULL,
	[ThresholdAmount] [decimal](18, 2) NOT NULL,
	[ReducedValue] [decimal](18, 2) NOT NULL,
	[Status] [int] NOT NULL,
	[DateCreated] [datetime] NOT NULL,
 CONSTRAINT [PK_Rank] PRIMARY KEY CLUSTERED 
(
	[RankID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ReturnedProducts]    Script Date: 26/11/2025 15:11:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ReturnedProducts](
	[ID] [uniqueidentifier] NOT NULL,
	[CreateDate] [datetime] NOT NULL,
	[Note] [nvarchar](1000) NULL,
	[QuantityReturned] [int] NOT NULL,
	[ReturnedPrice] [decimal](18, 2) NOT NULL,
	[Status] [int] NOT NULL,
	[BillId] [uniqueidentifier] NOT NULL,
	[ShoesDetails_SizeID] [uniqueidentifier] NULL,
	[NamePurChaseMethod] [nvarchar](1000) NULL,
	[TransactionType] [int] NOT NULL,
	[InitialProductTotalPrice] [decimal](18, 2) NULL,
	[ShippingFeeReturned] [decimal](18, 2) NULL,
	[Image1] [nvarchar](1000) NULL,
	[Image2] [nvarchar](1000) NULL,
 CONSTRAINT [PK_ReturnedProducts] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Role]    Script Date: 26/11/2025 15:11:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Role](
	[RoleID] [uniqueidentifier] NOT NULL,
	[RoleCode] [nvarchar](50) NULL,
	[RoleName] [nvarchar](100) NULL,
	[Status] [int] NOT NULL,
	[DateCreated] [datetime] NOT NULL,
 CONSTRAINT [PK_Role] PRIMARY KEY CLUSTERED 
(
	[RoleID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Sex]    Script Date: 26/11/2025 15:11:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Sex](
	[SexID] [uniqueidentifier] NOT NULL,
	[SexName] [nvarchar](200) NULL,
 CONSTRAINT [PK_Sex] PRIMARY KEY CLUSTERED 
(
	[SexID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ShippingVoucher]    Script Date: 26/11/2025 15:11:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ShippingVoucher](
	[ShippingVoucherID] [uniqueidentifier] NOT NULL,
	[VoucherShipCode] [nvarchar](100) NULL,
	[MaxShippingDiscount] [decimal](18, 2) NULL,
	[ShippingDiscount] [decimal](18, 2) NULL,
	[QuantityShip] [int] NOT NULL,
	[ExpirationDate] [datetime] NOT NULL,
	[IsShippingVoucher] [int] NOT NULL,
	[DateCreated] [datetime] NOT NULL,
 CONSTRAINT [PK_ShippingVoucher] PRIMARY KEY CLUSTERED 
(
	[ShippingVoucherID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ShoesDetails]    Script Date: 26/11/2025 15:11:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ShoesDetails](
	[ShoesDetailsId] [uniqueidentifier] NOT NULL,
	[ShoesDetailsCode] [nvarchar](100) NULL,
	[DateCreated] [datetime] NOT NULL,
	[Price] [decimal](18, 2) NOT NULL,
	[ImportPrice] [decimal](18, 2) NOT NULL,
	[Description] [nvarchar](1000) NULL,
	[Status] [int] NOT NULL,
	[ColorID] [uniqueidentifier] NULL,
	[ProductID] [uniqueidentifier] NULL,
	[SoleID] [uniqueidentifier] NULL,
	[StyleID] [uniqueidentifier] NULL,
	[SexID] [uniqueidentifier] NULL,
	[ImageUrl] [nvarchar](1000) NULL,
 CONSTRAINT [PK_ShoesDetails] PRIMARY KEY CLUSTERED 
(
	[ShoesDetailsId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ShoesDetails_Size]    Script Date: 26/11/2025 15:11:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ShoesDetails_Size](
	[ID] [uniqueidentifier] NOT NULL,
	[Quantity] [int] NOT NULL,
	[ShoesDetailsId] [uniqueidentifier] NOT NULL,
	[SizeID] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK_ShoesDetails_Size] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Size]    Script Date: 26/11/2025 15:11:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Size](
	[SizeID] [uniqueidentifier] NOT NULL,
	[SizeCode] [nvarchar](50) NULL,
	[Name] [nvarchar](100) NULL,
	[Status] [int] NOT NULL,
	[DateCreated] [datetime] NOT NULL,
 CONSTRAINT [PK_Size] PRIMARY KEY CLUSTERED 
(
	[SizeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Sole]    Script Date: 26/11/2025 15:11:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Sole](
	[SoleID] [uniqueidentifier] NOT NULL,
	[SoleCode] [nvarchar](50) NULL,
	[Name] [nvarchar](100) NULL,
	[Height] [decimal](18, 2) NOT NULL,
	[Status] [int] NOT NULL,
	[DateCreated] [datetime] NOT NULL,
 CONSTRAINT [PK_Sole] PRIMARY KEY CLUSTERED 
(
	[SoleID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Style]    Script Date: 26/11/2025 15:11:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Style](
	[StyleID] [uniqueidentifier] NOT NULL,
	[StyleCode] [nvarchar](50) NULL,
	[Name] [nvarchar](100) NULL,
	[Status] [int] NOT NULL,
	[DateCreated] [datetime] NOT NULL,
 CONSTRAINT [PK_Style] PRIMARY KEY CLUSTERED 
(
	[StyleID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Supplier]    Script Date: 26/11/2025 15:11:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Supplier](
	[SupplierID] [uniqueidentifier] NOT NULL,
	[SupplierCode] [nvarchar](50) NULL,
	[Name] [nvarchar](200) NULL,
	[Status] [int] NOT NULL,
	[DateCreated] [datetime] NOT NULL,
 CONSTRAINT [PK_Supplier] PRIMARY KEY CLUSTERED 
(
	[SupplierID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Voucher]    Script Date: 26/11/2025 15:11:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Voucher](
	[VoucherID] [uniqueidentifier] NOT NULL,
	[VoucherCode] [nvarchar](100) NULL,
	[VoucherValue] [decimal](18, 2) NOT NULL,
	[Total] [decimal](18, 2) NOT NULL,
	[Exclusiveright] [nvarchar](100) NULL,
	[MaxUsage] [int] NOT NULL,
	[Type] [int] NULL,
	[RemainingUsage] [int] NOT NULL,
	[CreateDate] [datetime] NOT NULL,
	[ExpirationDate] [datetime] NOT NULL,
	[Status] [int] NOT NULL,
	[IsDel] [bit] NOT NULL,
	[UserNameCustomer] [nvarchar](100) NULL,
	[DateCreated] [datetime] NOT NULL,
 CONSTRAINT [PK_Voucher] PRIMARY KEY CLUSTERED 
(
	[VoucherID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Address] ([AddressID], [Street], [Commune], [District], [Province], [IsDefaultAddress], [ShippingCost], [DistrictId], [WardCode], [ShippingMethodID], [Status], [DateCreated], [CumstomerID], [ReceiverName], [ReceiverPhone]) VALUES (N'0395a0f7-8a53-48e1-adba-2d6f25879339', N'Thông Bản Mát', N'Xã Dào San', N'Huyện Phong Thổ', N'Lai Châu', 0, CAST(60646.00 AS Decimal(18, 2)), 1989, 70303, 53321, 1, CAST(N'2025-11-07T09:14:08.000' AS DateTime), N'93163519-f3a5-479a-81a3-08de1856df62', N'Trần Văn Thành', N'0985887953')
INSERT [dbo].[Address] ([AddressID], [Street], [Commune], [District], [Province], [IsDefaultAddress], [ShippingCost], [DistrictId], [WardCode], [ShippingMethodID], [Status], [DateCreated], [CumstomerID], [ReceiverName], [ReceiverPhone]) VALUES (N'bbb7b795-0c53-4736-91b0-444dc03fefbc', N'Khu Chang Mau', N'Xã Phình Giàng', N'Huyện Điện Biên Đông', N'Điện Biên', 0, CAST(60646.00 AS Decimal(18, 2)), 2123, 620710, 53321, 0, CAST(N'2025-11-07T09:05:15.000' AS DateTime), N'93163519-f3a5-479a-81a3-08de1856df62', N'Vũ Mực', N'0398759424')
INSERT [dbo].[Address] ([AddressID], [Street], [Commune], [District], [Province], [IsDefaultAddress], [ShippingCost], [DistrictId], [WardCode], [ShippingMethodID], [Status], [DateCreated], [CumstomerID], [ReceiverName], [ReceiverPhone]) VALUES (N'72a61533-af88-4e5e-96ab-4d97bdd0431b', N'Thôn Mai Diên', N'Phường Sông Đà', N'Thị xã Mường Lay', N'Điện Biên', 1, CAST(46501.00 AS Decimal(18, 2)), 2060, 620202, 53321, 0, CAST(N'2025-11-15T15:59:10.000' AS DateTime), N'93163519-f3a5-479a-81a3-08de1856df62', N'Lò Văn Phốc', N'0976452398')
GO
INSERT [dbo].[BillDetails] ([ID], [Quantity], [Price], [Status], [ShoesDetails_SizeID], [BillID]) VALUES (N'a9cdcc5d-b0f6-44b3-b45a-85f431ee9c5e', 1, CAST(3829000.00 AS Decimal(18, 2)), 0, N'8a5bb60a-a74a-494b-a1aa-08ddf45aa83c', N'ec94cd59-5b8a-47c3-998e-c11762ede463')
INSERT [dbo].[BillDetails] ([ID], [Quantity], [Price], [Status], [ShoesDetails_SizeID], [BillID]) VALUES (N'57ed255c-9e6b-48c4-a06b-b2f8e5c0960a', 1, CAST(3829000.00 AS Decimal(18, 2)), 0, N'8a5bb60a-a74a-494b-a1aa-08ddf45aa83c', N'fafcf1a3-000b-4d97-b488-e938b67ac49d')
GO
INSERT [dbo].[BillStatusHistory] ([BillStatusHistoryID], [Status], [ChangeDate], [Note], [BillID], [EmployeeID]) VALUES (N'67c1af9c-1e0b-4b3a-8d61-28ade52102f6', 0, CAST(N'2025-11-07T09:14:55.563' AS DateTime), N'Người mua tạo đơn hàng', N'ec94cd59-5b8a-47c3-998e-c11762ede463', NULL)
INSERT [dbo].[BillStatusHistory] ([BillStatusHistoryID], [Status], [ChangeDate], [Note], [BillID], [EmployeeID]) VALUES (N'9dc39f47-de97-45c2-9fe7-43697383e252', 3, CAST(N'2025-11-08T19:56:32.980' AS DateTime), NULL, N'ec94cd59-5b8a-47c3-998e-c11762ede463', N'ca416ca9-40f9-4c96-1867-08dbdf6c81c5')
INSERT [dbo].[BillStatusHistory] ([BillStatusHistoryID], [Status], [ChangeDate], [Note], [BillID], [EmployeeID]) VALUES (N'f20af430-7ce4-4aa7-b939-79aa59282170', 0, CAST(N'2025-11-08T19:52:40.157' AS DateTime), N'Người mua tạo đơn hàng', N'fafcf1a3-000b-4d97-b488-e938b67ac49d', NULL)
GO
INSERT [dbo].[Cart] ([CumstomerID], [Description]) VALUES (N'93163519-f3a5-479a-81a3-08de1856df62', N'Updated cart description')
INSERT [dbo].[Cart] ([CumstomerID], [Description]) VALUES (N'f92a1a15-dec9-4c8e-8817-97f606178242', N'Updated cart description')
INSERT [dbo].[Cart] ([CumstomerID], [Description]) VALUES (N'8f1c0428-2fa2-4ac3-80f8-b32071ab934c', N'Cart for logged in user')
GO
INSERT [dbo].[CartDetails] ([CartDetailsId], [CumstomerID], [ShoesDetails_SizeID], [Quantity]) VALUES (N'0cd27e94-2e7e-487b-bc4d-e89ecfae01e3', N'f92a1a15-dec9-4c8e-8817-97f606178242', N'8a5bb60a-a74a-494b-a1aa-08ddf45aa83c', 1)
GO
INSERT [dbo].[Color] ([ColorID], [ColorCode], [Name], [Status], [DateCreated]) VALUES (N'a01b6a30-e3de-4579-aa47-09b32415b9a2', N'CL008', N'Gray', 0, CAST(N'2025-09-04T16:00:00.000' AS DateTime))
INSERT [dbo].[Color] ([ColorID], [ColorCode], [Name], [Status], [DateCreated]) VALUES (N'9a4bbfa8-4ba1-45cf-b68b-30d50570abaa', N'CL001', N'Red', 0, CAST(N'2023-10-25T09:21:00.000' AS DateTime))
INSERT [dbo].[Color] ([ColorID], [ColorCode], [Name], [Status], [DateCreated]) VALUES (N'b449bf0c-15c0-435f-afda-404e470a8eac', N'CL002', N'Yellow', 0, CAST(N'2025-03-17T08:29:00.000' AS DateTime))
GO
INSERT [dbo].[Customer] ([CumstomerID], [FullName], [UserName], [Password], [Email], [Sex], [ResetPassword], [PhoneNumber], [Status], [DateCreated], [RankID], [ImageUser]) VALUES (N'93163519-f3a5-479a-81a3-08de1856df62', N'Nguyen long', N'ngan123', N'ssssss', N'longhoang08@gmail.com', 1, N'0', N'0964123441', 0, CAST(N'2025-10-31T15:24:11.000' AS DateTime), N'23eb6198-74c2-4c4c-92a5-13d2f80c5e97', NULL)
INSERT [dbo].[Customer] ([CumstomerID], [FullName], [UserName], [Password], [Email], [Sex], [ResetPassword], [PhoneNumber], [Status], [DateCreated], [RankID], [ImageUser]) VALUES (N'a04df8af-541c-4fe0-a3be-3ce8df74f207', N'Duy Vũ Tường', N'Duy', N'110840378590600817270', N'vuduy10a7@gmail.com', 2, N'', N'', 2, CAST(N'2025-11-01T15:47:32.853' AS DateTime), N'23eb6198-74c2-4c4c-92a5-13d2f80c5e97', N'01c32ba3-bdf0-4979-ac07-ed2815a7ccb4.jpg')
INSERT [dbo].[Customer] ([CumstomerID], [FullName], [UserName], [Password], [Email], [Sex], [ResetPassword], [PhoneNumber], [Status], [DateCreated], [RankID], [ImageUser]) VALUES (N'f92a1a15-dec9-4c8e-8817-97f606178242', N'Vũ Long Em', N'duy08pt', N'111711223198212655710', N'duyvt424@gmail.com', 0, N'0000', N'0398759424', 2, CAST(N'2025-10-20T09:06:28.000' AS DateTime), N'23eb6198-74c2-4c4c-92a5-13d2f80c5e97', N'Screenshot 2025-10-19 204935.jpg.png')
GO
INSERT [dbo].[Employee] ([EmployeeID], [Image], [IdentificationCode], [FullName], [UserName], [Password], [Email], [Sex], [Address], [ResetPassword], [PhoneNumber], [Status], [DateCreated], [RoleID]) VALUES (N'ca416ca9-40f9-4c96-1867-08dbdf6c81c5', N'z5014761180071_f0f1df358c771a98700e2e33ce3dc554-fotor-bg-remover-2023122717349.png', N'0', N'a', N'aa', N'1', N'a', 0, N'a', N'66', N'0909', 0, CAST(N'2023-12-22T00:00:00.000' AS DateTime), N'1171fcae-d539-4cd7-9ab7-1c0b81082dca')
INSERT [dbo].[Employee] ([EmployeeID], [Image], [IdentificationCode], [FullName], [UserName], [Password], [Email], [Sex], [Address], [ResetPassword], [PhoneNumber], [Status], [DateCreated], [RoleID]) VALUES (N'ca416ca9-40f9-4c96-1867-08dbdf6c81c6', N'z5014761180071_f0f1df358c771a98700e2e33ce3dc554-fotor-bg-remover-2023122717349.png', N'0', N'a', N'duy', N'a', N'a', 0, N'a', N'66', N'0909', 0, CAST(N'2023-12-22T00:00:00.000' AS DateTime), N'46631fbb-e268-44f5-8225-7ed7c7e76490')
INSERT [dbo].[Employee] ([EmployeeID], [Image], [IdentificationCode], [FullName], [UserName], [Password], [Email], [Sex], [Address], [ResetPassword], [PhoneNumber], [Status], [DateCreated], [RoleID]) VALUES (N'afd889b2-7970-4889-99d9-89abbacbc4f2', N'hoanhok1.png', N'fdgfcvdfbg', N'AA', N'aa1', N'a', N'cs@vb.cn', 2, N'fdgfsdfghj', N'0', N'09876543678', 0, CAST(N'2024-01-15T14:28:48.000' AS DateTime), N'46631fbb-e268-44f5-8225-7ed7c7e76490')
GO
INSERT [dbo].[Image] ([ImageID], [ImageCode], [Name], [Image1], [Image2], [Image3], [Image4], [Status], [DateCreated], [ShoesDetailsID]) VALUES (N'14a29d37-a6d0-48ee-af7b-0064cd862f60', N'IG006', N'Nike Air Force 1 Low Retro', N'pd21.jpg', N'pd22.jpg', N'pd23.jpg', N'pd24.jpg', 0, CAST(N'2025-09-04T16:13:00.000' AS DateTime), N'56bb1265-34b6-47e2-9d96-2f707406b7d0')
INSERT [dbo].[Image] ([ImageID], [ImageCode], [Name], [Image1], [Image2], [Image3], [Image4], [Status], [DateCreated], [ShoesDetailsID]) VALUES (N'abb7773b-150e-47f7-a9af-07e73456468f', N'IG005', N'Nike Vapor 12', N'pd17.jpg', N'pd18.jpg', N'pd19.jpg', N'pd20.jpg', 0, CAST(N'2025-09-04T16:10:00.000' AS DateTime), N'33cc70b2-c77f-4b44-b7d9-52af60bd5648')
INSERT [dbo].[Image] ([ImageID], [ImageCode], [Name], [Image1], [Image2], [Image3], [Image4], [Status], [DateCreated], [ShoesDetailsID]) VALUES (N'29deeb1b-0b86-4651-aa55-24892fa9b6f2', N'IG004', N'Nike Vaporfly 4', N'pd13.jpg', N'pd14.jpg', N'pd15.jpg', N'pd16.jpg', 0, CAST(N'2025-09-04T16:07:00.000' AS DateTime), N'42c0eba2-f982-48b3-9bcb-71f425aecb0a')
GO
INSERT [dbo].[Material] ([MaterialId], [MaterialCode], [Name], [Status], [DateCreated]) VALUES (N'b10982f4-e57d-4887-a637-0b00836cf2a1', N'MT002', N'Nhựa dẻo', 0, CAST(N'2023-10-10T17:11:00.000' AS DateTime))
INSERT [dbo].[Material] ([MaterialId], [MaterialCode], [Name], [Status], [DateCreated]) VALUES (N'8e3bb435-e13e-4206-9892-46fe6eac4492', N'MT003', N'Vải', 0, CAST(N'2023-10-10T17:12:00.000' AS DateTime))
INSERT [dbo].[Material] ([MaterialId], [MaterialCode], [Name], [Status], [DateCreated]) VALUES (N'b8210644-9250-413a-8a74-d18d65974638', N'MT001', N'Cao su', 0, CAST(N'2023-10-10T17:11:00.000' AS DateTime))
GO
INSERT [dbo].[Product] ([ProductID], [ProductCode], [Name], [Status], [DateCreated], [SupplierID], [MaterialId]) VALUES (N'a7f81c2a-fd62-42fd-9239-3fca11965a81', N'PD004', N'Nike Vaporfly 4', 0, CAST(N'2025-09-04T16:05:00.000' AS DateTime), N'4dc04515-14c7-40c5-a1c9-c8fdcae48132', N'b10982f4-e57d-4887-a637-0b00836cf2a1')
INSERT [dbo].[Product] ([ProductID], [ProductCode], [Name], [Status], [DateCreated], [SupplierID], [MaterialId]) VALUES (N'83c59ff5-0a5c-4b53-9bf6-51a54bffdde5', N'PD007', N'Nike Field General Suede', 0, CAST(N'2025-09-04T16:13:00.000' AS DateTime), N'4dc04515-14c7-40c5-a1c9-c8fdcae48132', N'b10982f4-e57d-4887-a637-0b00836cf2a1')
INSERT [dbo].[Product] ([ProductID], [ProductCode], [Name], [Status], [DateCreated], [SupplierID], [MaterialId]) VALUES (N'094a0d61-90d9-4d19-b99f-6ffd1c3244b1', N'PD001', N'Nike Mercurial Superfly 10 Elite ''Sam Kerr''', 0, CAST(N'2025-09-04T15:47:00.000' AS DateTime), N'4dc04515-14c7-40c5-a1c9-c8fdcae48132', N'b10982f4-e57d-4887-a637-0b00836cf2a1')
GO
INSERT [dbo].[PurchaseMethod] ([PurchaseMethodID], [MethodName], [Status], [DateCreated]) VALUES (N'1947fa1a-b18e-4976-6566-08dbcafa51e6', N'Thanh toán khi nhận hàng', 0, CAST(N'2023-10-12T15:07:00.000' AS DateTime))
INSERT [dbo].[PurchaseMethod] ([PurchaseMethodID], [MethodName], [Status], [DateCreated]) VALUES (N'e257a08e-b7dc-44b6-6567-08dbcafa51e6', N'Thanh toán trực tuyến VNPay', 0, CAST(N'2023-10-12T15:07:00.000' AS DateTime))
GO
INSERT [dbo].[Rank] ([RankID], [RankCode], [Name], [Desciption], [ThresholdAmount], [ReducedValue], [Status], [DateCreated]) VALUES (N'23eb6198-74c2-4c4c-92a5-13d2f80c5e94', N'RK001', N'Hạng vàng', N'Khách hàng rank đồng', CAST(1500000.00 AS Decimal(18, 2)), CAST(3.00 AS Decimal(18, 2)), 0, CAST(N'2023-10-11T00:00:00.000' AS DateTime))
INSERT [dbo].[Rank] ([RankID], [RankCode], [Name], [Desciption], [ThresholdAmount], [ReducedValue], [Status], [DateCreated]) VALUES (N'23eb6198-74c2-4c4c-92a5-13d2f80c5e95', N'RK002', N'Hạng bạc', N'A', CAST(3000000.00 AS Decimal(18, 2)), CAST(5.00 AS Decimal(18, 2)), 0, CAST(N'2023-12-18T00:00:00.000' AS DateTime))
INSERT [dbo].[Rank] ([RankID], [RankCode], [Name], [Desciption], [ThresholdAmount], [ReducedValue], [Status], [DateCreated]) VALUES (N'23eb6198-74c2-4c4c-92a5-13d2f80c5e96', N'RK003', N'Hạng kim cương', N'A', CAST(5000000.00 AS Decimal(18, 2)), CAST(7.00 AS Decimal(18, 2)), 0, CAST(N'2023-12-18T00:00:00.000' AS DateTime))
GO
INSERT [dbo].[Role] ([RoleID], [RoleCode], [RoleName], [Status], [DateCreated]) VALUES (N'1171fcae-d539-4cd7-9ab7-1c0b81082dca', N'RO002', N'Quản lý', 0, CAST(N'2023-12-10T15:08:00.000' AS DateTime))
INSERT [dbo].[Role] ([RoleID], [RoleCode], [RoleName], [Status], [DateCreated]) VALUES (N'46631fbb-e268-44f5-8225-7ed7c7e76490', N'RO001', N'Nhân viên', 0, CAST(N'2023-12-10T15:08:00.000' AS DateTime))
GO
INSERT [dbo].[Sex] ([SexID], [SexName]) VALUES (N'46631fbb-e268-44f5-8225-7ed7c7e76492', N'Nam')
INSERT [dbo].[Sex] ([SexID], [SexName]) VALUES (N'46631fbb-e268-44f5-8225-7ed7c7e76493', N'Nữ')
GO
INSERT [dbo].[ShoesDetails_Size] ([ID], [Quantity], [ShoesDetailsId], [SizeID]) VALUES (N'8a5bb60a-a74a-494b-a1aa-08ddf45aa83c', 324, N'56bb1265-34b6-47e2-9d96-2f707406b7d0', N'6a1d5552-f6b7-4970-aaeb-02cf17bb347c')
INSERT [dbo].[ShoesDetails_Size] ([ID], [Quantity], [ShoesDetailsId], [SizeID]) VALUES (N'59bc3aed-607d-425c-f970-08de11d5f050', 18, N'01da57c1-a26b-47e9-8ac8-bcb95ecdad66', N'ce2f5a30-d79b-47ff-bd1f-15d2b545cb5a')
GO
INSERT [dbo].[Size] ([SizeID], [SizeCode], [Name], [Status], [DateCreated]) VALUES (N'6a1d5552-f6b7-4970-aaeb-02cf17bb347c', N'SZ008', N'41', 0, CAST(N'2023-12-10T08:52:00.000' AS DateTime))
INSERT [dbo].[Size] ([SizeID], [SizeCode], [Name], [Status], [DateCreated]) VALUES (N'ce2f5a30-d79b-47ff-bd1f-15d2b545cb5a', N'SZ001', N'35', 0, CAST(N'2023-10-10T17:12:00.000' AS DateTime))
INSERT [dbo].[Size] ([SizeID], [SizeCode], [Name], [Status], [DateCreated]) VALUES (N'd0048ba0-2292-4f50-9be2-683088b3432e', N'SZ009', N'42', 0, CAST(N'2023-12-10T08:52:00.000' AS DateTime))
GO
INSERT [dbo].[Sole] ([SoleID], [SoleCode], [Name], [Height], [Status], [DateCreated]) VALUES (N'55f9c4cf-efde-4c13-a1be-0f110b55a9ea', N'SL001', N'XXX', CAST(15.00 AS Decimal(18, 2)), 0, CAST(N'2023-10-24T16:14:00.000' AS DateTime))
INSERT [dbo].[Sole] ([SoleID], [SoleCode], [Name], [Height], [Status], [DateCreated]) VALUES (N'd85161bb-634e-4c88-b7da-6543369ea4ea', N'SL002', N'Đế nhựa', CAST(1.00 AS Decimal(18, 2)), 0, CAST(N'2023-10-24T16:16:00.000' AS DateTime))
INSERT [dbo].[Sole] ([SoleID], [SoleCode], [Name], [Height], [Status], [DateCreated]) VALUES (N'05590ec8-fe6a-49f9-86f5-a9266078b220', N'SL003', N'Đế cao su', CAST(2.00 AS Decimal(18, 2)), 0, CAST(N'2023-10-24T16:34:00.000' AS DateTime))
GO
INSERT [dbo].[Style] ([StyleID], [StyleCode], [Name], [Status], [DateCreated]) VALUES (N'9d6d2f5e-df11-43b8-b31f-0ba0336aa659', N'ST003', N'Women''s Shoes', 0, CAST(N'2023-10-25T09:33:00.000' AS DateTime))
INSERT [dbo].[Style] ([StyleID], [StyleCode], [Name], [Status], [DateCreated]) VALUES (N'd8dcc03f-187d-4bcb-845a-22aec33145df', N'ST005', N'Tennis', 0, CAST(N'2025-09-04T16:08:00.000' AS DateTime))
INSERT [dbo].[Style] ([StyleID], [StyleCode], [Name], [Status], [DateCreated]) VALUES (N'b43cffb2-4f56-4753-9835-29026405dcf5', N'ST001', N'Men''s shoes', 0, CAST(N'2023-10-25T09:22:00.000' AS DateTime))
GO
INSERT [dbo].[Supplier] ([SupplierID], [SupplierCode], [Name], [Status], [DateCreated]) VALUES (N'eefb8e43-4beb-403b-a470-9a47e5c36f27', N'SP003', N'Puma', 0, CAST(N'2023-10-10T17:11:00.000' AS DateTime))
INSERT [dbo].[Supplier] ([SupplierID], [SupplierCode], [Name], [Status], [DateCreated]) VALUES (N'4dc04515-14c7-40c5-a1c9-c8fdcae48132', N'SP001', N'Nike', 0, CAST(N'2023-10-10T17:11:00.000' AS DateTime))
INSERT [dbo].[Supplier] ([SupplierID], [SupplierCode], [Name], [Status], [DateCreated]) VALUES (N'b0a7f66d-d08c-40d2-b570-d22e6fee5376', N'SP002', N'Adidas', 0, CAST(N'2023-10-10T17:11:00.000' AS DateTime))
GO
INSERT [dbo].[Voucher] ([VoucherID], [VoucherCode], [VoucherValue], [Total], [Exclusiveright], [MaxUsage], [Type], [RemainingUsage], [CreateDate], [ExpirationDate], [Status], [IsDel], [UserNameCustomer], [DateCreated]) VALUES (N'd1881aba-47bf-4614-9668-57d7d18b4316', N'VC001', CAST(20000.00 AS Decimal(18, 2)), CAST(0.00 AS Decimal(18, 2)), N'Không', 0, 0, 5, CAST(N'2025-10-28T09:20:30.113' AS DateTime), CAST(N'2025-10-30T09:20:00.000' AS DateTime), 0, 0, NULL, CAST(N'2025-10-28T09:20:00.000' AS DateTime))
INSERT [dbo].[Voucher] ([VoucherID], [VoucherCode], [VoucherValue], [Total], [Exclusiveright], [MaxUsage], [Type], [RemainingUsage], [CreateDate], [ExpirationDate], [Status], [IsDel], [UserNameCustomer], [DateCreated]) VALUES (N'eeaf66b8-ade8-43ea-8444-da4003ddcdf8', N'VC002', CAST(50000.00 AS Decimal(18, 2)), CAST(0.00 AS Decimal(18, 2)), N'Không', 0, 0, 5, CAST(N'2025-10-28T15:50:14.140' AS DateTime), CAST(N'2025-10-31T15:50:00.000' AS DateTime), 0, 0, NULL, CAST(N'2025-10-28T15:50:00.000' AS DateTime))
INSERT [dbo].[Voucher] ([VoucherID], [VoucherCode], [VoucherValue], [Total], [Exclusiveright], [MaxUsage], [Type], [RemainingUsage], [CreateDate], [ExpirationDate], [Status], [IsDel], [UserNameCustomer], [DateCreated]) VALUES (N'54792e6b-bcb5-4b5f-89d8-fc653b21317d', N'VC003', CAST(20000.00 AS Decimal(18, 2)), CAST(0.00 AS Decimal(18, 2)), N'Không', 0, 0, 5, CAST(N'2025-10-31T16:03:53.323' AS DateTime), CAST(N'2025-11-10T16:03:00.000' AS DateTime), 0, 0, NULL, CAST(N'2025-10-31T16:03:00.000' AS DateTime))
GO
ALTER TABLE [dbo].[Bill] ADD  DEFAULT ((0)) FOR [TransactionType]
GO
ALTER TABLE [dbo].[Bill] ADD  DEFAULT ((0.0)) FOR [TotalRefundAmount]
GO
ALTER TABLE [dbo].[FavoriteShoes] ADD  DEFAULT ('00000000-0000-0000-0000-000000000000') FOR [FavoriteShoesID]
GO
ALTER TABLE [dbo].[FavoriteShoes] ADD  DEFAULT ('0001-01-01T00:00:00.0000000') FOR [AddedDate]
GO
ALTER TABLE [dbo].[FavoriteShoes] ADD  DEFAULT ((0)) FOR [Status]
GO
ALTER TABLE [dbo].[ReturnedProducts] ADD  DEFAULT ((0)) FOR [TransactionType]
GO
ALTER TABLE [dbo].[Address]  WITH CHECK ADD  CONSTRAINT [FK_Address_Customer_CumstomerID] FOREIGN KEY([CumstomerID])
REFERENCES [dbo].[Customer] ([CumstomerID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Address] CHECK CONSTRAINT [FK_Address_Customer_CumstomerID]
GO
ALTER TABLE [dbo].[Bill]  WITH CHECK ADD  CONSTRAINT [FK_Bill_Address_AddressID] FOREIGN KEY([AddressID])
REFERENCES [dbo].[Address] ([AddressID])
GO
ALTER TABLE [dbo].[Bill] CHECK CONSTRAINT [FK_Bill_Address_AddressID]
GO
ALTER TABLE [dbo].[Bill]  WITH CHECK ADD  CONSTRAINT [FK_Bill_Customer_CustomerID] FOREIGN KEY([CustomerID])
REFERENCES [dbo].[Customer] ([CumstomerID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Bill] CHECK CONSTRAINT [FK_Bill_Customer_CustomerID]
GO
ALTER TABLE [dbo].[Bill]  WITH CHECK ADD  CONSTRAINT [FK_Bill_Employee_EmployeeID] FOREIGN KEY([EmployeeID])
REFERENCES [dbo].[Employee] ([EmployeeID])
GO
ALTER TABLE [dbo].[Bill] CHECK CONSTRAINT [FK_Bill_Employee_EmployeeID]
GO
ALTER TABLE [dbo].[Bill]  WITH CHECK ADD  CONSTRAINT [FK_Bill_PurchaseMethod_PurchaseMethodID] FOREIGN KEY([PurchaseMethodID])
REFERENCES [dbo].[PurchaseMethod] ([PurchaseMethodID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Bill] CHECK CONSTRAINT [FK_Bill_PurchaseMethod_PurchaseMethodID]
GO
ALTER TABLE [dbo].[Bill]  WITH CHECK ADD  CONSTRAINT [FK_Bill_ShippingVoucher_ShippingVoucherID] FOREIGN KEY([ShippingVoucherID])
REFERENCES [dbo].[ShippingVoucher] ([ShippingVoucherID])
GO
ALTER TABLE [dbo].[Bill] CHECK CONSTRAINT [FK_Bill_ShippingVoucher_ShippingVoucherID]
GO
ALTER TABLE [dbo].[Bill]  WITH CHECK ADD  CONSTRAINT [FK_Bill_Voucher_VoucherID] FOREIGN KEY([VoucherID])
REFERENCES [dbo].[Voucher] ([VoucherID])
GO
ALTER TABLE [dbo].[Bill] CHECK CONSTRAINT [FK_Bill_Voucher_VoucherID]
GO
ALTER TABLE [dbo].[BillDetails]  WITH CHECK ADD  CONSTRAINT [FK_BillDetails_Bill_BillID] FOREIGN KEY([BillID])
REFERENCES [dbo].[Bill] ([BillID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[BillDetails] CHECK CONSTRAINT [FK_BillDetails_Bill_BillID]
GO
ALTER TABLE [dbo].[BillDetails]  WITH CHECK ADD  CONSTRAINT [FK_BillDetails_ShoesDetails_Size_ShoesDetails_SizeID] FOREIGN KEY([ShoesDetails_SizeID])
REFERENCES [dbo].[ShoesDetails_Size] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[BillDetails] CHECK CONSTRAINT [FK_BillDetails_ShoesDetails_Size_ShoesDetails_SizeID]
GO
ALTER TABLE [dbo].[BillStatusHistory]  WITH CHECK ADD  CONSTRAINT [FK_BillStatusHistory_Bill_BillID] FOREIGN KEY([BillID])
REFERENCES [dbo].[Bill] ([BillID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[BillStatusHistory] CHECK CONSTRAINT [FK_BillStatusHistory_Bill_BillID]
GO
ALTER TABLE [dbo].[BillStatusHistory]  WITH CHECK ADD  CONSTRAINT [FK_BillStatusHistory_Employee_EmployeeID] FOREIGN KEY([EmployeeID])
REFERENCES [dbo].[Employee] ([EmployeeID])
GO
ALTER TABLE [dbo].[BillStatusHistory] CHECK CONSTRAINT [FK_BillStatusHistory_Employee_EmployeeID]
GO
ALTER TABLE [dbo].[Cart]  WITH CHECK ADD  CONSTRAINT [FK_Cart_Customer_CumstomerID] FOREIGN KEY([CumstomerID])
REFERENCES [dbo].[Customer] ([CumstomerID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Cart] CHECK CONSTRAINT [FK_Cart_Customer_CumstomerID]
GO
ALTER TABLE [dbo].[CartDetails]  WITH CHECK ADD  CONSTRAINT [FK_CartDetails_Cart_CumstomerID] FOREIGN KEY([CumstomerID])
REFERENCES [dbo].[Cart] ([CumstomerID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[CartDetails] CHECK CONSTRAINT [FK_CartDetails_Cart_CumstomerID]
GO
ALTER TABLE [dbo].[CartDetails]  WITH CHECK ADD  CONSTRAINT [FK_CartDetails_ShoesDetails_Size_ShoesDetails_SizeID] FOREIGN KEY([ShoesDetails_SizeID])
REFERENCES [dbo].[ShoesDetails_Size] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[CartDetails] CHECK CONSTRAINT [FK_CartDetails_ShoesDetails_Size_ShoesDetails_SizeID]
GO
ALTER TABLE [dbo].[Customer]  WITH CHECK ADD  CONSTRAINT [FK_Customer_Rank_RankID] FOREIGN KEY([RankID])
REFERENCES [dbo].[Rank] ([RankID])
GO
ALTER TABLE [dbo].[Customer] CHECK CONSTRAINT [FK_Customer_Rank_RankID]
GO
ALTER TABLE [dbo].[Employee]  WITH CHECK ADD  CONSTRAINT [FK_Employee_Role_RoleID] FOREIGN KEY([RoleID])
REFERENCES [dbo].[Role] ([RoleID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Employee] CHECK CONSTRAINT [FK_Employee_Role_RoleID]
GO
ALTER TABLE [dbo].[FavoriteShoes]  WITH CHECK ADD  CONSTRAINT [FK_FavoriteShoes_Customer_CumstomerID] FOREIGN KEY([CumstomerID])
REFERENCES [dbo].[Customer] ([CumstomerID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[FavoriteShoes] CHECK CONSTRAINT [FK_FavoriteShoes_Customer_CumstomerID]
GO
ALTER TABLE [dbo].[FavoriteShoes]  WITH CHECK ADD  CONSTRAINT [FK_FavoriteShoes_ShoesDetails_Size_ShoesDetails_SizeId] FOREIGN KEY([ShoesDetails_SizeId])
REFERENCES [dbo].[ShoesDetails_Size] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[FavoriteShoes] CHECK CONSTRAINT [FK_FavoriteShoes_ShoesDetails_Size_ShoesDetails_SizeId]
GO
ALTER TABLE [dbo].[HistoryChat]  WITH CHECK ADD  CONSTRAINT [FK_HistoryChat_Customer_CustomerID] FOREIGN KEY([CustomerID])
REFERENCES [dbo].[Customer] ([CumstomerID])
GO
ALTER TABLE [dbo].[HistoryChat] CHECK CONSTRAINT [FK_HistoryChat_Customer_CustomerID]
GO
ALTER TABLE [dbo].[Image]  WITH CHECK ADD  CONSTRAINT [FK_Image_ShoesDetails_ShoesDetailsID] FOREIGN KEY([ShoesDetailsID])
REFERENCES [dbo].[ShoesDetails] ([ShoesDetailsId])
GO
ALTER TABLE [dbo].[Image] CHECK CONSTRAINT [FK_Image_ShoesDetails_ShoesDetailsID]
GO
ALTER TABLE [dbo].[Product]  WITH CHECK ADD  CONSTRAINT [FK_Product_Material_MaterialId] FOREIGN KEY([MaterialId])
REFERENCES [dbo].[Material] ([MaterialId])
GO
ALTER TABLE [dbo].[Product] CHECK CONSTRAINT [FK_Product_Material_MaterialId]
GO
ALTER TABLE [dbo].[Product]  WITH CHECK ADD  CONSTRAINT [FK_Product_Supplier_SupplierID] FOREIGN KEY([SupplierID])
REFERENCES [dbo].[Supplier] ([SupplierID])
GO
ALTER TABLE [dbo].[Product] CHECK CONSTRAINT [FK_Product_Supplier_SupplierID]
GO
ALTER TABLE [dbo].[ReturnedProducts]  WITH CHECK ADD  CONSTRAINT [FK_ReturnedProducts_Bill_BillId] FOREIGN KEY([BillId])
REFERENCES [dbo].[Bill] ([BillID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ReturnedProducts] CHECK CONSTRAINT [FK_ReturnedProducts_Bill_BillId]
GO
ALTER TABLE [dbo].[ReturnedProducts]  WITH CHECK ADD  CONSTRAINT [FK_ReturnedProducts_ShoesDetails_Size_ShoesDetails_SizeID] FOREIGN KEY([ShoesDetails_SizeID])
REFERENCES [dbo].[ShoesDetails_Size] ([ID])
GO
ALTER TABLE [dbo].[ReturnedProducts] CHECK CONSTRAINT [FK_ReturnedProducts_ShoesDetails_Size_ShoesDetails_SizeID]
GO
ALTER TABLE [dbo].[ShoesDetails]  WITH CHECK ADD  CONSTRAINT [FK_ShoesDetails_Color_ColorID] FOREIGN KEY([ColorID])
REFERENCES [dbo].[Color] ([ColorID])
GO
ALTER TABLE [dbo].[ShoesDetails] CHECK CONSTRAINT [FK_ShoesDetails_Color_ColorID]
GO
ALTER TABLE [dbo].[ShoesDetails]  WITH CHECK ADD  CONSTRAINT [FK_ShoesDetails_Product_ProductID] FOREIGN KEY([ProductID])
REFERENCES [dbo].[Product] ([ProductID])
GO
ALTER TABLE [dbo].[ShoesDetails] CHECK CONSTRAINT [FK_ShoesDetails_Product_ProductID]
GO
ALTER TABLE [dbo].[ShoesDetails]  WITH CHECK ADD  CONSTRAINT [FK_ShoesDetails_Sex_SexID] FOREIGN KEY([SexID])
REFERENCES [dbo].[Sex] ([SexID])
GO
ALTER TABLE [dbo].[ShoesDetails] CHECK CONSTRAINT [FK_ShoesDetails_Sex_SexID]
GO
ALTER TABLE [dbo].[ShoesDetails]  WITH CHECK ADD  CONSTRAINT [FK_ShoesDetails_Sole_SoleID] FOREIGN KEY([SoleID])
REFERENCES [dbo].[Sole] ([SoleID])
GO
ALTER TABLE [dbo].[ShoesDetails] CHECK CONSTRAINT [FK_ShoesDetails_Sole_SoleID]
GO
ALTER TABLE [dbo].[ShoesDetails]  WITH CHECK ADD  CONSTRAINT [FK_ShoesDetails_Style_StyleID] FOREIGN KEY([StyleID])
REFERENCES [dbo].[Style] ([StyleID])
GO
ALTER TABLE [dbo].[ShoesDetails] CHECK CONSTRAINT [FK_ShoesDetails_Style_StyleID]
GO
ALTER TABLE [dbo].[ShoesDetails_Size]  WITH CHECK ADD  CONSTRAINT [FK_ShoesDetails_Size_ShoesDetails_ShoesDetailsId] FOREIGN KEY([ShoesDetailsId])
REFERENCES [dbo].[ShoesDetails] ([ShoesDetailsId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ShoesDetails_Size] CHECK CONSTRAINT [FK_ShoesDetails_Size_ShoesDetails_ShoesDetailsId]
GO
ALTER TABLE [dbo].[ShoesDetails_Size]  WITH CHECK ADD  CONSTRAINT [FK_ShoesDetails_Size_Size_SizeID] FOREIGN KEY([SizeID])
REFERENCES [dbo].[Size] ([SizeID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ShoesDetails_Size] CHECK CONSTRAINT [FK_ShoesDetails_Size_Size_SizeID]
GO
