@{
	Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>403 Error</title>
    <link rel="icon" type="image" href="~/image/logo1.png" />
    <link rel="stylesheet" href="~/css/Forbidden.css">
</head>
<body>
    <div class="wrapper">
        <div class="box">
            <h1>403</h1>
            <p>Xin lỗi, dường như bạn không có quyền truy cập trang này!</p>
            <p><a href="/">Quay về trang chủ.</a></p>
        </div>
    </div>
</body>
</html>
