@model AppData.Models.Voucher

@{
    ViewData["Title"] = "EditVoucher";
}

<link rel="stylesheet" href="~/css/FormInput.css">
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<div class="container">
    <section class="vh-100 bg-image">
        <div class="mask d-flex align-items-center h-100 gradient-custom-3">
            <div class="container h-100">
                <div class="row d-flex justify-content-center align-items-center h-100">
                    <div class="col-12 col-md-9 col-lg-7 col-xl-6">
                        <div class="">
                            <div class="card-body p-5">
                                <img src="/image/Logo_NIKE.svg.png" alt="" style="width: 55px; height: 20px; margin-left: 200px;">
                                <h2 class="text-uppercase text-center mb-5" style="padding-top: 25px; font-weight: bold;">
                                    CREATE A NEW STYLE
                                </h2>
                                <p style="text-align: center; font-size: 14px;">
                                    Welcome to our Create Style page! Unleash your creativity and design unique shoe styles with our intuitive interface and wide range of customization options
                                </p>
                                <form asp-action="EditVoucher">
                                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                    <div class="form-group" style="display:none">
                                        <label asp-for="VoucherID" class="control-label"></label>
                                        <input asp-for="VoucherID" class="form-control" />
                                        <span asp-validation-for="VoucherID" class="text-danger"></span>
                                    </div>

                                    <div class="form-group">
                                        <label asp-for="VoucherID" class="control-label"></label>
                                        <input asp-for="VoucherID" class="form-control" />
                                        <span asp-validation-for="VoucherID" class="text-danger"></span>
                                    </div>
                                    <div class="form-group">
                                        <label asp-for="VoucherCode" class="control-label"></label>
                                        <input asp-for="VoucherCode" class="form-control" />
                                        <span asp-validation-for="VoucherCode" class="text-danger"></span>
                                    </div>
                                    <div class="form-group">
                                        <label asp-for="VoucherValue" class="control-label"></label>
                                        <input asp-for="VoucherValue" class="form-control" />
                                        <span asp-validation-for="VoucherValue" class="text-danger"></span>
                                    </div>
                                    <div class="form-group">
                                        <label asp-for="MaxUsage" class="control-label"></label>
                                        <input asp-for="MaxUsage" class="form-control" />
                                        <span asp-validation-for="MaxUsage" class="text-danger"></span>
                                    </div>
                                    <div class="form-group">
                                        <label asp-for="RemainingUsage" class="control-label"></label>
                                        <input asp-for="RemainingUsage" class="form-control" />
                                        <span asp-validation-for="RemainingUsage" class="text-danger"></span>
                                    </div>
                                    <div class="form-group">
                                        <label asp-for="ExpirationDate" class="control-label"></label>
                                        <input asp-for="ExpirationDate" class="form-control" />
                                        <span asp-validation-for="ExpirationDate" class="text-danger"></span>
                                    </div>
                                    <div class="form-group">
                                        <label asp-for="Status" class="control-label"></label>
                                        <input asp-for="Status" class="form-control" />
                                        <span asp-validation-for="Status" class="text-danger"></span>
                                    </div>
                                    <div class="d-flex justify-content-center">
                                        <button type="submit" value="Save"
                                                style="color: white; background-color: rgb(3, 3, 3); width: 520px; height: 40px;"
                                                class="btn btn-success btn-block btn-lg gradient-custom-4 text-body">
                                            <p style="color: white; font-size: 15px; text-decoration: none;">Save</p>
                                        </button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
