.card {
    border: none
}

.product {
    background-color: white
}

.brand {
    font-size: 13px;
}

.act-price {
    color: white;
    font-weight: 700
}

.dis-price {
    text-decoration: line-through
}

.about {
    font-size: 14px
}

.color {
    margin-bottom: 10px
}

label.radio {
    cursor: pointer;
}

    label.radio input {
        position: absolute;
        top: 0;
        left: 0;
        visibility: hidden;
        pointer-events: none
    }

    label.radio span {
        padding: 2px 9px;
        border: 1px solid black;
        display: inline-block;
        color: black;
        border-radius: 3px;
        text-transform: uppercase
    }

    label.radio input:checked + span {
        border-color: black;
        background-color: black;
        color: #fff
    }

.btn-danger {
    background-color: black !important;
    border-color: black !important
}

    .btn-danger:hover {
        background-color: rgb(146, 135, 135) !important;
        border-color: rgb(133, 123, 123) !important
    }

    .btn-danger:focus {
        box-shadow: none
    }

.cart i {
    margin-right: 10px
}

.span1 {
    width: 100px;
    border-radius: 5px;
    text-align: center;
}

.span2 {
    margin-top: 5px;
    width: 100px;
    border-radius: 5px;
    text-align: center;
}

.span3 {
    margin-top: 5px;
    width: 100px;
    border-radius: 5px;
    text-align: center;
}


@import url('https://fonts.googleapis.com/css?family=Muli:400,400i,700,700i');

.shell {
    padding: 80px 0;
}

.wsk-cp-product {
    background: #fff;
    padding: 15px;
    border-radius: 6px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    position: relative;
    margin: 20px auto;
}

.wsk-cp-img {
    position: absolute;
    top: 5px;
    left: 50%;
    transform: translate(-50%);
    -webkit-transform: translate(-50%);
    -ms-transform: translate(-50%);
    -moz-transform: translate(-50%);
    -o-transform: translate(-50%);
    -khtml-transform: translate(-50%);
    width: 100%;
    padding: 15px;
    transition: all 0.2s ease-in-out;
}

    .wsk-cp-img img {
        width: 100%;
        transition: all 0.2s ease-in-out;
        border-radius: 6px;
    }

.wsk-cp-product:hover .wsk-cp-img {
    top: -40px;
}

    .wsk-cp-product:hover .wsk-cp-img img {
        box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
    }

.wsk-cp-text {
    padding-top: 150%;
}

    .wsk-cp-text .category {
        text-align: center;
        font-size: 12px;
        font-weight: bold;
        padding: 5px;
        margin-bottom: 45px;
        position: relative;
        transition: all 0.2s ease-in-out;
    }

        .wsk-cp-text .category > * {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%);
            -webkit-transform: translate(-50%,-50%);
            -moz-transform: translate(-50%,-50%);
            -ms-transform: translate(-50%,-50%);
            -o-transform: translate(-50%,-50%);
            -khtml-transform: translate(-50%,-50%);
        }

        .wsk-cp-text .category > span {
            padding: 12px 30px;
            border: 1px solid #313131;
            background: #212121;
            color: #fff;
            box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
            border-radius: 27px;
            transition: all 0.05s ease-in-out;
        }

.wsk-cp-product:hover .wsk-cp-text .category > span {
    border-color: #ddd;
    box-shadow: none;
    padding: 11px 28px;
}

.wsk-cp-product:hover .wsk-cp-text .category {
    margin-top: 0px;
}

.wsk-cp-text .title-product {
    text-align: center;
}

    .wsk-cp-text .title-product h3 {
        font-size: 20px;
        font-weight: bold;
        margin: 15px auto;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        width: 100%;
    }

.wsk-cp-text .description-prod p {
    margin: 0;
}
/* Truncate */
.wsk-cp-text .description-prod {
    text-align: center;
    width: 100%;
    height: 62px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    margin-bottom: 15px;
}

.card-footer {
    padding: 25px 0 5px;
    border-top: 1px solid #ddd;
}

    .card-footer:after, .card-footer:before {
        content: '';
        display: table;
    }

    .card-footer:after {
        clear: both;
    }

    .card-footer .wcf-left {
        float: left;
    }

    .card-footer .wcf-right {
        float: right;
    }

.price {
    font-size: 18px;
    font-weight: bold;
}

a.buy-btn {
    display: block;
    color: #212121;
    text-align: center;
    font-size: 18px;
    width: 35px;
    height: 35px;
    line-height: 35px;
    border-radius: 50%;
    border: 1px solid #212121;
    transition: all 0.2s ease-in-out;
}

    a.buy-btn:hover, a.buy-btn:active, a.buy-btn:focus {
        border-color: black;
        background: black;
        color: white;
        text-decoration: none;
    }

.wsk-btn {
    display: inline-block;
    color: #212121;
    text-align: center;
    font-size: 18px;
    transition: all 0.2s ease-in-out;
    border-color: #FF9800;
    background: #FF9800;
    padding: 12px 30px;
    border-radius: 27px;
    margin: 0 5px;
}

    .wsk-btn:hover, .wsk-btn:focus, .wsk-btn:active {
        text-decoration: none;
        color: #fff;
    }

.red {
    color: #F44336;
    font-size: 22px;
    display: inline-block;
    margin: 0 5px;
}

@media screen and (max-width: 991px) {
    .wsk-cp-product {
        margin: 40px auto;
    }

        .wsk-cp-product .wsk-cp-img {
            top: -40px;
        }

            .wsk-cp-product .wsk-cp-img img {
                box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
            }

        .wsk-cp-product .wsk-cp-text .category > span {
            border-color: #ddd;
            box-shadow: none;
            padding: 11px 28px;
        }

        .wsk-cp-product .wsk-cp-text .category {
            margin-top: 0px;
        }

    a.buy-btn {
        border-color: #FF9800;
        background: #FF9800;
        color: #fff;
    }
}

.src-box input[type=text] {
    font-family: inherit;
    font-weight: bold;
    color: black;
    width: 4.5em;
    height: 2.0em;
    background-color: white;
    border: none;
    box-sizing: border-box;
    border-radius: 2.5em;
    border: 3px solid black;
    transition: width 800ms cubic-bezier(.68, -.55, .27, 1.55) 150ms;
    text-align: center;
}

    .src-box input[type=text]:focus {
        outline: none;
    }

    .src-box input[type=text]:focus,
    .src-box input[type=text]:not(:placeholder-shown) {
        width: 12em;
        transition: width 800ms cubic-bezier(.68, -.55, .27, 1.55);
    }

        .src-box input[type=text]:focus + button[type=reset],
        .src-box input[type=text]:not(:placeholder-shown) + button[type=reset] {
            transform: rotate(-45deg) translateY(0);
            transition: transform 150ms ease-out 800ms;
        }

            .src-box input[type=text]:focus + button[type=reset]::after,
            .src-box input[type=text]:not(:placeholder-shown) + button[type=reset]::after {
                opacity: 1;
                transition: top 150ms ease-out 950ms, right 150ms ease-out 950ms, opacity 150ms ease 950ms;
            }

.src-box button[type=reset] {
    background-color: transparent;
    width: 1.4em;
    height: 1.4em;
    border: 0;
    padding: 0;
    outline: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: .55em;
    right: .55em;
    transform: rotate(-45deg) translateY(2.2em);
    transition: transform 150ms ease-out 150ms;
}

    .src-box button[type=reset]::before,
    .src-box button[type=reset]::after {
        content: "";
        background-color: #fff;
        width: .3em;
        height: 1.4em;
        border-radius: 10px;
        position: absolute;
    }

    .src-box button[type=reset]::after {
        transform: rotate(90deg);
        opacity: 0;
        transition: transform 150ms ease-out, opacity 150ms ease-out;
    }