/*html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}*/




/*.border {
    position: relative;
    height: 342px;
    width: 260px;
    background: transparent;
    border-radius: 15px;
    border: 2px solid #fff;
    opacity: 0;
    transition: 1s ease;
}

    .border:hover {
        opacity: 1;
    }

.card {
    position: relative;
    height: 379px;
    width: 300px;
    background: #808080;
    margin: 30px;
    border-radius: 20px;
    transition: .8s ease;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, .3);
    display: flex;
    justify-content: center;
    align-items: center;
}

.card0 {
    background: url(/image/Snapinsta.app_346488447_160726400067141_1227907950801749070_n_1024.jpg) center center no-repeat;
    background-size: 300px;
}

    .card0:hover {
        background: url(/image/Snapinsta.app_346488447_160726400067141_1227907950801749070_n_1024.jpg) left center no-repeat;
        background-size: 600px;
    }

.card1 {
    background: url(/image/anh2.png) center center no-repeat;
    background-size: 300px;
}

    .card1:hover {
        background: url(/image/anh2.png) left center no-repeat;
        background-size: 600px;
    }
.card2 {
    background: url(/image/anh3.png) center center no-repeat;
    background-size: 300px;
}

    .card2:hover {
        background: url(/image/anh3.png) left center no-repeat;
        background-size: 600px;
    }
.card3 {
    background: url(/image/anh4.png) center center no-repeat;
    background-size: 300px;
}
.card3:hover {
    background: url(/image/anh4.png) left center no-repeat;
    background-size: 600px;
}
.card4 {
    background: url(/image/anh6.png) center center no-repeat;
    background-size: 300px;
}

    .card4:hover {
        background: url(/image/anh6.png) left center no-repeat;
        background-size: 600px;
    }
.card5 {
    background: url(/image/anh2.png) center center no-repeat;
    background-size: 300px;
}

    .card5:hover {
        background: url(/image/anh2.png) left center no-repeat;
        background-size: 600px;
    }
.card6 {
    background: url(/image/anh4.png) center center no-repeat;
    background-size: 300px;
}

    .card6:hover {
        background: url(/image/anh4.png) left center no-repeat;
        background-size: 600px;
    }
.card7 {
    background: url(/image/anh3.png) center center no-repeat;
    background-size: 300px;
}

    .card7:hover {
        background: url(/image/anh3.png) left center no-repeat;
        background-size: 600px;
    }
.card8 {
    background: url(/image/anh4.png) center center no-repeat;
    background-size: 300px;
}

    .card8:hover {
        background: url(/image/anh4.png) left center no-repeat;
        background-size: 600px;
    }
.card9 {
    background: url(/image/anh4.png) center center no-repeat;
    background-size: 300px;
}

    .card9:hover {
        background: url(/image/anh4.png) left center no-repeat;
        background-size: 600px;
    }
.card10 {
    background: url(/image/anh4.png) center center no-repeat;
    background-size: 300px;
}

    .card10:hover {
        background: url(/image/anh4.png) left center no-repeat;
        background-size: 600px;
    }
.card11 {
    background: url(/image/anh4.png) center center no-repeat;
    background-size: 300px;
}

    .card11:hover {
        background: url(/image/anh4.png) left center no-repeat;
        background-size: 600px;
    }
.card12 {
    background: url(/image/anh4.png) center center no-repeat;
    background-size: 300px;
}

    .card12:hover {
        background: url(/image/anh4.png) left center no-repeat;
        background-size: 600px;
    }
h2 {
    bottom: 130px;
    left: 25px;
    width: 15px;
    color: black;
    font-size: 40px;
    font-weight: bold;
    line-height: 1;
    display: inline-block;
    padding-top: 60px;
}

.icon {
    position: absolute;
    fill: #fff;
    color: black;
    height: 100px;
    bottom: 30px;
    width: 70px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

    .icon i {
        font-size: 20px;
        transition: .2s ease;
        font-family: 'FontAwesome';
    }

        .icon i:hover {
            font-size: 30px;
        }

.card .border .content {
    text-align: center;
}

    .card .border .content h2 {
        display: inline-block;
        width: auto;
    }
*/