body {
    background: #F06292 !important
}

.coupon {
    border-radius: 12px;
    box-shadow: 5px 8px 10px #d6d5d533
}

body {
    background: rgb(251, 253, 255)
}

.code:hover {
    background: green;
    color: #fff;
    cursor: pointer
}
